In [10]:
import os
import csv
import sqlite3

# Define input and output paths
input_path = "spider-schema.csv"
output_base_dir ="spider_sqlite"  # Change this to your desired output location

with open(input_path) as f:
    databases = {}

    csvfile = csv.reader(f, skipinitialspace=True)
    header = None
    for line in csvfile:
        if header is None:
            header = line
            continue
        row = dict(zip(header, line))
        
        db = row["Database name"].lower()
        table = row["Table Name"].lower()
        column = row["Field Name"].lower()
        column_type = row["Type"]
        column_primray = row["Is Primary Key"]
        if db not in databases:
            databases[db] = {"tables": {}}
        if table not in databases[db]["tables"]:
            databases[db]["tables"][table] = {"columns": {}, "primary": []}
        if column not in databases[db]["tables"][table]["columns"]:
            databases[db]["tables"][table]["columns"][column] = { "name": column, "type": column_type }
            if column_primray == "True":
                databases[db]["tables"][table]["primary"].append(column)

    # Create output directory if it doesn't exist
    os.makedirs(output_base_dir, exist_ok=True)

    for db in databases:
        db_dir = os.path.join(output_base_dir, db)
        os.makedirs(db_dir, exist_ok=True)
        db_path = os.path.join(db_dir, f"{db}.sqlite")
        dbconn = sqlite3.connect(db_path)
        dbcur = dbconn.cursor()

        for table in databases[db]["tables"]:
            if "sqlite_sequence" == table:
                continue
            tablesql = "CREATE TABLE " + table + "("
            coldelim = " "
            for col in databases[db]["tables"][table]["columns"]:
                col = databases[db]["tables"][table]["columns"][col]
                tablesql += coldelim + '"' + col["name"] + '" ' + col["type"]
                coldelim = ","
            if len(databases[db]["tables"][table]["primary"]):
                tablesql += ",PRIMARY KEY ("+ ",".join(databases[db]["tables"][table]["primary"]) +")"
            tablesql += ");"
            print(tablesql)
            dbcur.execute(tablesql)
        dbconn.commit()
        
    f.close()
    print(f"\nYou can now use database files in {output_base_dir}\n")

CREATE TABLE perpetrator( "perpetrator_id" number,"people_id" number,"date" text,"year" number,"location" text,"country" text,"killed" number,"injured" number,PRIMARY KEY (perpetrator_id));
CREATE TABLE people( "people_id" number,"name" text,"height" number,"weight" number,"home_town" text,PRIMARY KEY (people_id));
CREATE TABLE classroom( "building" text,"room_number" text,"capacity" number,PRIMARY KEY (building));
CREATE TABLE department( "department_name" text,"building" text,"budget" number,PRIMARY KEY (department_name));
CREATE TABLE course( "course_id" text,"title" text,"department_name" text,"credits" number,PRIMARY KEY (course_id));
CREATE TABLE instructor( "id" text,"name" text,"department_name" text,"salary" number,PRIMARY KEY (id));
CREATE TABLE section( "course_id" text,"section_id" text,"semester" text,"year" number,"building" text,"room_number" text,"time_slot_id" text,PRIMARY KEY (course_id));
CREATE TABLE teaches( "id" text,"course_id" text,"section_id" text,"semester" text,"year" number,PRIMARY KEY (id));
CREATE TABLE student( "id" text,"name" text,"department_name" text,"total_credits" number,PRIMARY KEY (id));
CREATE TABLE takes_classes( "id" text,"course_id" text,"section_id" text,"semester" text,"year" number,"grade" text,PRIMARY KEY (id));
CREATE TABLE advisor( "student_id" text,"instructor_id" text,PRIMARY KEY (student_id));
CREATE TABLE time_slot( "time_slot_id" text,"day" text,"start_hour" number,"start_minute" number,"end_hour" number,"end_minute" number,PRIMARY KEY (time_slot_id));
CREATE TABLE prerequisite( "course_id" text,"prerequisite_id" text,PRIMARY KEY (course_id));
CREATE TABLE airport( "id" number,"city" text,"country" text,"iata" text,"icao" text,"name" text,PRIMARY KEY (id));
CREATE TABLE operate_company( "id" number,"name" text,"type" text,"principal_activities" text,"incorporated_in" text,"group_equity_shareholding" number,PRIMARY KEY (id));
CREATE TABLE flight( "id" number,"vehicle_flight_number" text,"date" text,"pilot" text,"velocity" number,"altitude" number,"airport_id" number,"company_id" number,PRIMARY KEY (id));
CREATE TABLE institution( "institution_id" number,"name" text,"country" text,PRIMARY KEY (institution_id));
CREATE TABLE authors( "author_id" number,"last_name" text,"first_name" text,PRIMARY KEY (author_id));
CREATE TABLE papers( "paper_id" number,"title" text,PRIMARY KEY (paper_id));
CREATE TABLE authorship_count( "author_id" number,"institution_id" number,"paper_id" number,"author_count" number,PRIMARY KEY (author_id));
CREATE TABLE body_builder( "body_builder_id" number,"people_id" number,"snatch" number,"clean_jerk" number,"total" number,PRIMARY KEY (body_builder_id));
CREATE TABLE people( "people_id" number,"name" text,"height" number,"weight" number,"birth_date" text,"birth_place" text,PRIMARY KEY (people_id));
CREATE TABLE storm( "storm_id" number,"name" text,"dates_active" text,"max_speed" number,"damage_millions_usd" number,"number_deaths" number,PRIMARY KEY (storm_id));
CREATE TABLE region( "region_id" number,"region_code" text,"region_name" text,PRIMARY KEY (region_id));
CREATE TABLE affected_region( "region_id" number,"storm_id" number,"number_city_affected" number,PRIMARY KEY (region_id));
CREATE TABLE aircraft( "aircraft_id" number,"order_year" number,"manufacturer" text,"model" text,"fleet_series" text,"powertrain" text,"fuel_propulsion" text,PRIMARY KEY (aircraft_id));
CREATE TABLE pilot( "pilot_id" number,"pilot_name" text,"rank" number,"age" number,"nationality" text,"position" text,"join_year" number,"team" text,PRIMARY KEY (pilot_id));
CREATE TABLE pilot_record( "record_id" number,"pilot_id" number,"aircraft_id" number,"date" text,PRIMARY KEY (pilot_id));
CREATE TABLE race( "race_id" number,"name" text,"class" text,"date" text,"track_id" text,PRIMARY KEY (race_id));
CREATE TABLE track( "track_id" number,"name" text,"location" text,"seating" number,"year_opened" number,PRIMARY KEY (track_id));
CREATE TABLE author( "aid" number,"homepage" text,"name" text,"oid" number,PRIMARY KEY (aid));
CREATE TABLE conference( "cid" number,"homepage" text,"name" text,PRIMARY KEY (cid));
CREATE TABLE domain( "did" number,"name" text,PRIMARY KEY (did));
CREATE TABLE domain_author( "aid" number,"did" number,PRIMARY KEY (did));
CREATE TABLE domain_conference( "cid" number,"did" number,PRIMARY KEY (did));
CREATE TABLE journal( "homepage" text,"jid" number,"name" text,PRIMARY KEY (jid));
CREATE TABLE domain_journal( "did" number,"jid" number,PRIMARY KEY (did));
CREATE TABLE keyword( "keyword" text,"kid" number,PRIMARY KEY (kid));
CREATE TABLE domain_keyword( "did" number,"kid" number,PRIMARY KEY (did));
CREATE TABLE publication( "abstract" text,"cid" text,"citation_num" number,"jid" number,"pid" number,"reference_num" number,"title" text,"year" number,PRIMARY KEY (pid));
CREATE TABLE domain_publication( "did" number,"pid" number,PRIMARY KEY (did));
CREATE TABLE organization( "continent" text,"homepage" text,"name" text,"oid" number,PRIMARY KEY (oid));
CREATE TABLE publication_keyword( "pid" number,"kid" number,PRIMARY KEY (kid));
CREATE TABLE writes( "aid" number,"pid" number,PRIMARY KEY (aid));
CREATE TABLE cite( "cited" number,"citing" number);
CREATE TABLE addresses( "address_id" number,"address_details" text,PRIMARY KEY (address_id));
CREATE TABLE staff( "staff_id" number,"staff_gender" text,"staff_name" text,PRIMARY KEY (staff_id));
CREATE TABLE suppliers( "supplier_id" number,"supplier_name" text,"supplier_phone" text,PRIMARY KEY (supplier_id));
CREATE TABLE department_store_chain( "department_store_chain_id" number,"department_store_chain_name" text,PRIMARY KEY (department_store_chain_id));
CREATE TABLE customers( "customer_id" number,"payment_method_code" text,"customer_code" text,"customer_name" text,"customer_address" text,"customer_phone" text,"customer_email" text,PRIMARY KEY (customer_id));
CREATE TABLE products( "product_id" number,"product_type_code" text,"product_name" text,"product_price" number,PRIMARY KEY (product_id));
CREATE TABLE supplier_addresses( "supplier_id" number,"address_id" number,"date_from" time,"date_to" time,PRIMARY KEY (supplier_id));
CREATE TABLE customer_addresses( "customer_id" number,"address_id" number,"date_from" time,"date_to" time,PRIMARY KEY (customer_id));
CREATE TABLE customer_orders( "order_id" number,"customer_id" number,"order_status_code" text,"order_date" time,PRIMARY KEY (order_id));
CREATE TABLE department_stores( "department_store_id" number,"department_store_chain_id" number,"store_name" text,"store_address" text,"store_phone" text,"store_email" text,PRIMARY KEY (department_store_id));
CREATE TABLE departments( "department_id" number,"department_store_id" number,"department_name" text,PRIMARY KEY (department_id));
CREATE TABLE order_items( "order_item_id" number,"order_id" number,"product_id" number,PRIMARY KEY (order_item_id));
CREATE TABLE product_suppliers( "product_id" number,"supplier_id" number,"date_supplied_from" time,"date_supplied_to" time,"total_amount_purchased" text,"total_value_purchased" number,PRIMARY KEY (product_id));
CREATE TABLE staff_department_assignments( "staff_id" number,"department_id" number,"date_assigned_from" time,"job_title_code" text,"date_assigned_to" time,PRIMARY KEY (staff_id));
CREATE TABLE artist( "artist_id" number,"artist" text,"age" number,"famous_title" text,"famous_release_date" text,PRIMARY KEY (artist_id));
CREATE TABLE volume( "volume_id" number,"volume_issue" text,"issue_date" text,"weeks_on_top" number,"song" text,"artist_id" number,PRIMARY KEY (volume_id));
CREATE TABLE music_festival( "id" number,"music_festival" text,"date_of_ceremony" text,"category" text,"volume" number,"result" text,PRIMARY KEY (id));
CREATE TABLE customers( "customer_id" number,"customer_name" text,PRIMARY KEY (customer_id));
CREATE TABLE services( "service_id" number,"service_name" text,PRIMARY KEY (service_id));
CREATE TABLE available_policies( "policy_id" number,"policy_type_code" text,"customer_phone" text,PRIMARY KEY (policy_id));
CREATE TABLE customers_policies( "customer_id" number,"policy_id" number,"date_opened" time,"date_closed" time,PRIMARY KEY (customer_id));
CREATE TABLE first_notification_of_loss( "fnol_id" number,"customer_id" number,"policy_id" number,"service_id" number,PRIMARY KEY (fnol_id));
CREATE TABLE claims( "claim_id" number,"fnol_id" number,"effective_date" time,PRIMARY KEY (claim_id));
CREATE TABLE settlements( "settlement_id" number,"claim_id" number,"effective_date" time,"settlement_amount" number,PRIMARY KEY (settlement_id));
CREATE TABLE film( "film_id" number,"rank_in_series" number,"number_in_season" number,"title" text,"directed_by" text,"original_air_date" text,"production_code" text,PRIMARY KEY (film_id));
CREATE TABLE cinema( "cinema_id" number,"name" text,"openning_year" number,"capacity" number,"location" text,PRIMARY KEY (cinema_id));
CREATE TABLE schedule( "cinema_id" number,"film_id" number,"date" text,"show_times_per_day" number,"price" number,PRIMARY KEY (cinema_id));
CREATE TABLE college( "college_id" number,"name" text,"leader_name" text,"college_location" text,PRIMARY KEY (college_id));
CREATE TABLE member( "member_id" number,"name" text,"country" text,"college_id" number,PRIMARY KEY (member_id));
CREATE TABLE round( "round_id" number,"member_id" number,"decoration_theme" text,"rank_in_round" number,PRIMARY KEY (member_id));
CREATE TABLE phone( "name" text,"phone_id" number,"memory_in_g" number,"carrier" text,"price" number,PRIMARY KEY (phone_id));
CREATE TABLE market( "market_id" number,"district" text,"num_of_employees" number,"num_of_shops" number,"ranking" number,PRIMARY KEY (market_id));
CREATE TABLE phone_market( "market_id" number,"phone_id" text,"num_of_stock" number,PRIMARY KEY (market_id));
CREATE TABLE product( "product_id" number,"product" text,"dimensions" text,"dpi" number,"pages_per_minute_color" number,"max_page_size" text,"interface" text,PRIMARY KEY (product_id));
CREATE TABLE store( "store_id" number,"store_name" text,"type" text,"area_size" number,"number_of_product_category" number,"ranking" number,PRIMARY KEY (store_id));
CREATE TABLE district( "district_id" number,"district_name" text,"headquartered_city" text,"city_population" number,"city_area" number,PRIMARY KEY (district_id));
CREATE TABLE store_product( "store_id" number,"product_id" number,PRIMARY KEY (store_id));
CREATE TABLE store_district( "store_id" number,"district_id" number,PRIMARY KEY (store_id));
CREATE TABLE third_party_companies( "company_id" number,"company_type" text,"company_name" text,"company_address" text,"other_company_details" text,PRIMARY KEY (company_id));
CREATE TABLE maintenance_contracts( "maintenance_contract_id" number,"maintenance_contract_company_id" number,"contract_start_date" time,"contract_end_date" time,"other_contract_details" text,PRIMARY KEY (maintenance_contract_id));
CREATE TABLE parts( "part_id" number,"part_name" text,"chargeable_yn" text,"chargeable_amount" text,"other_part_details" text,PRIMARY KEY (part_id));
CREATE TABLE skills( "skill_id" number,"skill_code" text,"skill_description" text,PRIMARY KEY (skill_id));
CREATE TABLE staff( "staff_id" number,"staff_name" text,"gender" text,"other_staff_details" text,PRIMARY KEY (staff_id));
CREATE TABLE assets( "asset_id" number,"maintenance_contract_id" number,"supplier_company_id" number,"asset_details" text,"asset_make" text,"asset_model" text,"asset_acquired_date" time,"asset_disposed_date" time,"other_asset_details" text,PRIMARY KEY (asset_id));
CREATE TABLE asset_parts( "asset_id" number,"part_id" number);
CREATE TABLE maintenance_engineers( "engineer_id" number,"company_id" number,"first_name" text,"last_name" text,"other_details" text,PRIMARY KEY (engineer_id));
CREATE TABLE engineer_skills( "engineer_id" number,"skill_id" number);
CREATE TABLE fault_log( "fault_log_entry_id" number,"asset_id" number,"recorded_by_staff_id" number,"fault_log_entry_datetime" time,"fault_description" text,"other_fault_details" text,PRIMARY KEY (fault_log_entry_id));
CREATE TABLE engineer_visits( "engineer_visit_id" number,"contact_staff_id" number,"engineer_id" number,"fault_log_entry_id" number,"fault_status" text,"visit_start_datetime" time,"visit_end_datetime" time,"other_visit_details" text,PRIMARY KEY (engineer_visit_id));
CREATE TABLE part_faults( "part_fault_id" number,"part_id" number,"fault_short_name" text,"fault_description" text,"other_fault_details" text,PRIMARY KEY (part_fault_id));
CREATE TABLE fault_log_parts( "fault_log_entry_id" number,"part_fault_id" number,"fault_status" text);
CREATE TABLE skills_required_to_fix( "part_fault_id" number,"skill_id" number);
CREATE TABLE addresses( "address_id" number,"line_1" text,"line_2" text,"city" text,"zip_postcode" text,"state_province_county" text,"country" text,PRIMARY KEY (address_id));
CREATE TABLE people( "person_id" number,"first_name" text,"middle_name" text,"last_name" text,"cell_mobile_number" text,"email_address" text,"login_name" text,"password" text,PRIMARY KEY (person_id));
CREATE TABLE students( "student_id" number,"student_details" text,PRIMARY KEY (student_id));
CREATE TABLE courses( "course_id" text,"course_name" text,"course_description" text,"other_details" text,PRIMARY KEY (course_id));
CREATE TABLE people_addresses( "person_address_id" number,"person_id" number,"address_id" number,"date_from" time,"date_to" time,PRIMARY KEY (person_address_id));
CREATE TABLE student_course_registrations( "student_id" number,"course_id" number,"registration_date" time,PRIMARY KEY (student_id));
CREATE TABLE student_course_attendance( "student_id" number,"course_id" number,"date_of_attendance" time,PRIMARY KEY (student_id));
CREATE TABLE candidates( "candidate_id" number,"candidate_details" text,PRIMARY KEY (candidate_id));
CREATE TABLE candidate_assessments( "candidate_id" number,"qualification" text,"assessment_date" time,"asessment_outcome_code" text,PRIMARY KEY (candidate_id));
CREATE TABLE breeds( "breed_code" text,"breed_name" text,PRIMARY KEY (breed_code));
CREATE TABLE charges( "charge_id" number,"charge_type" text,"charge_amount" number,PRIMARY KEY (charge_id));
CREATE TABLE sizes( "size_code" text,"size_description" text,PRIMARY KEY (size_code));
CREATE TABLE treatment_types( "treatment_type_code" text,"treatment_type_description" text,PRIMARY KEY (treatment_type_code));
CREATE TABLE owners( "owner_id" number,"first_name" text,"last_name" text,"street" text,"city" text,"state" text,"zip_code" text,"email_address" text,"home_phone" text,"cell_number" text,PRIMARY KEY (owner_id));
CREATE TABLE dogs( "dog_id" number,"owner_id" number,"abandoned_yes_or_no" text,"breed_code" text,"size_code" text,"name" text,"age" text,"date_of_birth" time,"gender" text,"weight" text,"date_arrived" time,"date_adopted" time,"date_departed" time,PRIMARY KEY (dog_id));
CREATE TABLE professionals( "professional_id" number,"role_code" text,"first_name" text,"street" text,"city" text,"state" text,"zip_code" text,"last_name" text,"email_address" text,"home_phone" text,"cell_number" text,PRIMARY KEY (professional_id));
CREATE TABLE treatments( "treatment_id" number,"dog_id" number,"professional_id" number,"treatment_type_code" text,"date_of_treatment" time,"cost_of_treatment" number,PRIMARY KEY (treatment_id));
CREATE TABLE genre( "genre_name" text,"rating" text,"most_popular_in" text,PRIMARY KEY (genre_name));
CREATE TABLE artist( "artist_name" text,"country" text,"gender" text,"preferred_genre" text,PRIMARY KEY (artist_name));
CREATE TABLE files( "song_id" number,"artist_name" text,"file_size" text,"duration" text,"formats" text,PRIMARY KEY (song_id));
CREATE TABLE song( "song_name" text,"artist_name" text,"country" text,"song_id" number,"genre_is" text,"rating" number,"languages" text,"releasedate" time,"resolution" number,PRIMARY KEY (song_name));
CREATE TABLE people( "people_id" number,"age" number,"name" text,"nationality" text,"graduation_college" text,PRIMARY KEY (people_id));
CREATE TABLE company( "company_id" number,"name" text,"headquarters" text,"industry" text,"sales_in_billion" number,"profits_in_billion" number,"assets_in_billion" number,"market_value_in_billion" number,PRIMARY KEY (company_id));
CREATE TABLE employment( "company_id" number,"people_id" number,"year_working" number,PRIMARY KEY (company_id));
CREATE TABLE city( "city_id" number,"official_name" text,"status" text,"area_km_2" number,"population" number,"census_ranking" text,PRIMARY KEY (city_id));
CREATE TABLE farm( "farm_id" number,"year" number,"total_horses" number,"working_horses" number,"total_cattle" number,"oxen" number,"bulls" number,"cows" number,"pigs" number,"sheep_and_goats" number,PRIMARY KEY (farm_id));
CREATE TABLE farm_competition( "competition_id" number,"year" number,"theme" text,"host_city_id" number,"hosts" text,PRIMARY KEY (competition_id));
CREATE TABLE competition_record( "competition_id" number,"farm_id" number,"rank" number,PRIMARY KEY (competition_id));
CREATE TABLE addresses( "address_id" number,"address_details" text,PRIMARY KEY (address_id));
CREATE TABLE locations( "location_id" number,"other_details" text,PRIMARY KEY (location_id));
CREATE TABLE products( "product_id" number,"product_type_code" text,"product_name" text,"product_price" number,PRIMARY KEY (product_id));
CREATE TABLE parties( "party_id" number,"party_details" text,PRIMARY KEY (party_id));
CREATE TABLE assets( "asset_id" number,"other_details" text,PRIMARY KEY (asset_id));
CREATE TABLE channels( "channel_id" number,"other_details" text,PRIMARY KEY (channel_id));
CREATE TABLE finances( "finance_id" number,"other_details" text,PRIMARY KEY (finance_id));
CREATE TABLE events( "event_id" number,"address_id" number,"channel_id" number,"event_type_code" text,"finance_id" number,"location_id" number,PRIMARY KEY (event_id));
CREATE TABLE products_in_events( "product_in_event_id" number,"event_id" number,"product_id" number,PRIMARY KEY (product_in_event_id));
CREATE TABLE parties_in_events( "party_id" number,"event_id" number,"role_code" text,PRIMARY KEY (party_id));
CREATE TABLE agreements( "document_id" number,"event_id" number,PRIMARY KEY (document_id));
CREATE TABLE assets_in_events( "asset_id" number,"event_id" number,PRIMARY KEY (asset_id));
CREATE TABLE city( "city_id" number,"city" text,"hanzi" text,"hanyu_pinyin" text,"regional_population" number,"gdp" number,PRIMARY KEY (city_id));
CREATE TABLE match( "match_id" number,"date" text,"venue" text,"score" text,"result" text,"competition" text,PRIMARY KEY (match_id));
CREATE TABLE temperature( "city_id" number,"jan" number,"feb" number,"mar" number,"apr" number,"jun" number,"jul" number,"aug" number,"sep" number,"oct" number,"nov" number,"dec" number,PRIMARY KEY (city_id));
CREATE TABLE hosting_city( "year" number,"match_id" number,"host_city" text,PRIMARY KEY (year));
CREATE TABLE swimmer( "id" number,"name" text,"nationality" text,"meter_100" number,"meter_200" text,"meter_300" text,"meter_400" text,"meter_500" text,"meter_600" text,"meter_700" text,"time" text,PRIMARY KEY (id));
CREATE TABLE stadium( "id" number,"name" text,"capacity" number,"city" text,"country" text,"opening_year" number,PRIMARY KEY (id));
CREATE TABLE event( "id" number,"name" text,"stadium_id" number,"year" text,PRIMARY KEY (id));
CREATE TABLE record( "id" number,"result" text,"swimmer_id" number,"event_id" number,PRIMARY KEY (swimmer_id));
CREATE TABLE airlines( "airline_id" number,"airline_name" text,"abbreviation" text,"country" text,PRIMARY KEY (airline_id));
CREATE TABLE airports( "city" text,"airport_code" text,"airport_name" text,"country" text,"country_abbrev" text,PRIMARY KEY (airport_code));
CREATE TABLE flights( "airline" number,"flight_number" number,"source_airport" text,"destination_airport" text,PRIMARY KEY (airline));
CREATE TABLE county( "county_id" number,"county_name" text,"population" number,"zip_code" text,PRIMARY KEY (county_id));